html{
    background-color: rgb(24, 24, 94);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    position: relative;
    top: 15vh;
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px;
    border: rgb(45, 45, 185) 6px ridge;
}
img.element1rose{
    width: 100px;
    position: absolute;
    z-index: 1;
    bottom: 70vh;
    right: 78vh;
    transform: rotate(15deg);
}